---
interface Props {
    icon: string,
    text: string
}

const {icon, text} = Astro.props

---

<div class="py-10 space-y-5 flex-col items-center">
    <img 
        src={icon}
         alt={`Icono`}
         class="max-w-52"
    />
    <h3 class="text-4xl text-coffee-800 font-secundary">
        {text}
    </h3>
</div>