---
const navigation = [
    {name: 'Inicio', href: '/'},
    {name: 'Nosotros', href: '/nosotros/'},    
    {name: 'Blog', href: '/blog/'},
    {name: 'Proceso', href: '/proceso/'},
    {name: 'Menu', href: '/menu/'},
    {name: 'Galeria', href: '/galeria/'},
    {name: 'Contacto', href: '/contacto/'},
]
---

<nav class="flex flex-col items-center lg:flex-row gap-3">
    {navigation.map(item =>
        <a 
        class="uppercase text-lg font-bold text-white"
        href={item.href}>  
        {item.name}
        </a>
    )}
</nav>